.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
}

.orderContainer {
    background-color: #004643;
    color: #faf0ca;
    padding: 0.5em;
    border-radius: 0.6em;

}

.ordersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}